.class1 {
                background-color: yellow;
                color: red;
                

        }

.class2 {
        background-color: aqua;
        height : 50px;
        width : 50px;
        margin : 50px;
        
}